<% provide(:title, 'Sign up') %>
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-12 text-center">
    <%= form_for(@user) do |f| %>
    <form id="signup" method="post" action="/signup">
      <h1>create an account</h1>


      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.text_field :password_confirmation %>
      </div>

      <hr>

        <%= f.submit "Create my account", class: "btn btn-primary" %>
    </form>
    <% end %>


</div>
  </div>
</div>
