<% provide(:title, 'Sign up') %>
<div class="container text-center">
  <!-- <div class="form-control form-"> -->
  <div id="logbox">
    <%= form_for(@user) do |f| %>
    <form id="signup" method="post" action="/signup">
      <h1>create an account</h1>

        <input name="user[name]" type="text" placeholder="What's your name?" autofocus="autofocus" class="input pass"/>
        <%= f.text_field :name %>

        <input name="user[email]" type="email" placeholder="Email address" class="input pass"/>
        <%= f.email_field :email %>

        <input name="user[password]" type="password" placeholder="Choose a password"  class="input pass"/>
        <%= f.password_field :password %>

        <input name="user[password2]" type="password" placeholder="Confirm password"  class="input pass"/>
        <%= f.password_field :password_confirmation %>
        
        <%= f.submit "Create my account", class: "btn btn-primary" %>
    </form>
    <% end %>
  </div>
 </div>
