<p id="notice"><%= notice %></p>

<h2 class="project_title"><%= @project.title %></h2>


  <table class = "table">

   <thead>
      <tr>
         <th>Task</th>
         <th>Time To Do</th>
         <th>Due Date</th>
         <th>Completed</th>
      </tr>
   </thead>
   <tbody>
     <% @project.tasks.each do |task| %>
     <tr>
       <td><%= task.title %></td>
     </tr>
     <% end %>
   </tbody>
 </table>

<div id="tasks_wrapper">
	<div id="form">
		<%= render "tasks/form" %>
	</div>
</div>

<div class="links">
  <%= link_to 'Edit Project', edit_project_path(@project) %> |
  <%= link_to 'Delete Project', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %> |
  <%= link_to 'Back', projects_path %>
</div>
